{% load static %}
<h1 style="text-align: center; ">Python With Naveen</h1>
<html><head>
    <style>
.two{
    width: 250px;
    height: 150px;
    font-size: 30px;
}
</style>
</head>
<body bgcolor="skyblue">
    <table align="center" border="0">
        <!-- <tr>
            <th colspan="2">Python With Naveen</th>
        </tr> -->
        <tr>
            <th class="two"><a href="#">Schedule New Class</a></th>
            <th class="two"><a href="#">View all Schedule Classes</a></th>
        </tr>
        <tr>
            <th>
               
                    <img src="{% static 'images/employee.png'%}" width="350px" height="250px">
                
            </th>
        </tr>
    </table>
    {% block anu1 %}
    {% endblock %}
    
    
</body></html>
